@font-face {
   font-family: 'Poppins-Regular';
   font-display: swap;
   src: url('file:///Users/benjaminmordiconi/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-03-28_205908/fonts/Poppins-Regular/font.ttf');
}
